<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布局</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="main">
        <ul>
            <li>会员开卡</li>
            <li>会员充值</li>
            <li>营业明细</li>
            <li>会员查询</li>
            <li>补卡换卡</li>
            <li>退卡销户</li>
            <li>挂失启用</li>
            <li>营业明细</li>
            <li>充值明细</li>
            <li>销售明细</li>
            <li>营业日结</li>
            <li>退出登录</li>
        </ul>
    </div>
</body>
</html>